/* Importações */
@import "/src/app/styles/variables";
@import "/src/app/styles/mixins.scss";

#header {
  background-color: $cor_pretoFosco;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  position: relative;
  height: 80px;
  z-index: 1000;
  padding: 10px 70px;

  @include bp_tablet {
    padding: 10px 30px;
  }

  @include bp_mobile {
    padding: 10px 10px;
  }

  .contentHeader {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $breakpoint_desktop;
    height: auto;

    .divLogoENav {
      display: flex;
      align-items: center;
      gap: 64px;
      .logo {
        font-weight: 600;
        color: $cor_brancoClaro;
        font-size: 3.2rem;

        @include bp_tablet {
          font-size: 2.8rem;
        }

        @include bp_mobile {
          font-size: 2.4rem;
        }
      }

      .navHeader {
        display: flex;
        gap: 32px;
        align-items: center;

        .itemNavHeader {
          display: inline-block;
          color: $cor_fonte_branca;
          font-weight: 500;
          transition: 400ms;
          opacity: 0.8;
          background-color: $cor_pretoSecundario;
          text-decoration: underline transparent;
          &:hover {
            text-decoration: underline $cor_brancoClaro;
            opacity: 1;
          }
        }

        @include bp_tablet {
          display: none;
          position: absolute;
          top: 80px;
          left: 0;
          flex-direction: column;
          background-color: $cor_pretoFosco;
          z-index: 1;
          height: 100vh;
          width: 100vw;

          gap: 32px;
          justify-content: left;

          &.menuAtivo {
            display: flex;
          }
        }

        @include bp_mobile {
          padding: 10px 10px;
        }

        .itemNavHeader {
          z-index: 1000;
        }
      }
    }

    .divBotoes {
      gap: 16px;
      align-items: center;
      display: flex;

      .aContato {
        padding: 8px 16px;
        background-color: $cor_brancoClaro;
        border-radius: 30px;
        color: $cor_pretoFosco;
        font-weight: 600;
    

        @include bp_mobile {
          display: none;
        }
      }

      button {
        background-color: transparent;
        color: $cor_brancoClaro;
        font-size: 4rem;
        display: none;
        align-items: center;
        justify-content: center;
        .icon {
          font-size: 4rem;
          

          @include bp_mobile {
            font-size: 3.5rem;
          }
        }


        @include bp_tablet {
          display: flex;
        }
      }
    }
  }
}
