@import "../../../../css/variables";
@import "../../../../css/mixins";

.carrosselProjetos {
    margin-bottom: 16px;
    
    .slide {
        // height: 300px;
        font-weight: 600;
        color: white;
        // background-color: red;

        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 16/9;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        border: 2px solid $cor_fonte_branca_fraca;

        img {
            display: block;
            width: 100%;
            object-fit: cover;
            &:hover {
                scale: 1.2;
            }
        }
    }
}