* {
    border: 0; padding: 0; margin: 0; text-decoration: none;
}

/* === navegacao da pagina === */

html {
    scroll-behavior: smooth;
}

#nav-principal {
     
}
.div-content-nav-principal {
    width: 100%;
    max-width: 900px;
    background-color: #00000052;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.item-nav-principal {
    padding: 10px;
    font-family: Arial;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}
/* === navegacao da pagina === */


/* === sec-home === */

.sec {
    min-height: 800px;
    border: 1px solid #bbb;
    padding-top: 40px;
}

#sec-home {
    min-height: 00px;
    background-image: linear-gradient(90deg, #8099E9, #E99DCB);
    text-align: center;
}
.welcome-home {
    font-size: 22px;
    margin: 10px;
}
.content-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.div-desc-home {
    width: 300px;
    margin: 10px;
}
.div-desc-home > h1, .div-desc-home > h1 > a {
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    color: white;
    font-family: Arial;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.img-home {
    width: 250px;
    border-radius: 50% 70px;
    border: 5px dashed purple;
    margin: 10px;
}