/* IMPORTACOES */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400&family=Josefin+Sans:wght@100;400&display=swap');
/* IMPORTACOES */

* {
    border: 0; padding: 0; margin: 0; text-decoration: none;
}
body {
  
}
#alert {
  top: 100px;
  right: 20px;
  position: fixed;
  color: white;
  text-align: center;
  display: block;
  background-color: red;
  font-size: .5rem;
  font-family: Sans-Serif;
  font-weight: bold;
  border-radius: 10px;
  box-sizing: border-box;
  width: 80px;
  padding: 10px;
  opacity: 0.5;
}

/* === navegacao da pagina === */
html {
    scroll-behavior: smooth;
}
#icon-logo {
  font-size: 1.5rem;
  font-weight: bold;
}
header {
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  background-color: black;
}
header ul {
  list-style: none;
  display: flex;
  gap: .5rem;
}
header a {
  color: white;
  font-family:  sans-serif;
  padding: 1rem;
  border-radius: 10px;
}
header a:hover {
  background: #6565654b;
}
/* === navegacao da pagina === */


/*section-global*/
.sec, footer {
  min-height: 100vh;
  width: 100%;
  padding: 70px 20px 20px 20px;
  box-sizing: border-box;
}
.title-sec {
  text-align: center;
  font-family: Sans-Serif;
  font-weight: bold;
  font-size: 2rem;
}
/* === sec-home === */
#sec-home {
  background: linear-gradient(90deg, #003554, #051923);
  /* display: none; */
}
#welcome {
  color: white;
  font-size: 1rem;
  font-family: Sans-Serif;
  text-align: center;
  padding: .5rem;
  margin-top: 10px;
}
.content-sec-home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
}
.img-profile {
  width: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
.s-c-h {
  box-sizing: border-box;
  padding: 20px;
  max-width: 700px;
  display: block;
  margin: 0 auto;
}
.s-c-h  h1, .s-c-h > h1 > a{
  color: white;
  font-family: Sans-Serif;
  text-align: center;
  font-size: 2rem;
}
.s-c-h p {
  text-align: center;
  color: #b0b0b0;
  font-size: 1.5rem;
  padding: 10px;
  font-family: Sans-Serif;
}
.a-next {
  text-align: center;
  display: block;
  color: white;
  font-size: 1.8rem;
  font-family: Sans-Serif;
  padding: 10px;
  background-color:#0582CA;
  border-radius: 20px;
  margin-top: 10px;
}
.a-next:hover {
  background-color: #003554;
  border-radius: 20px;
}
.redes-sociais-home {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.redes-sociais-home img {
  width: 3.5rem;
  padding: 3px;
  background-color: white;
  border-radius: 50%;
}
/* === sec-home === */



/* === sec-sobre */
#title-sec-sobre {
  color: white;
}
#sec-sobre {
  background: #051923;
  color: white;
  font-family: Sans-Serif;
  text-align: center;
  font-size: 1.5rem;
}
.content-sec-sobre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.s-c-s, .s-c-s-2 {
  box-sizing: border-box;
  width: 400px;
  padding: 10px;
}
.content-sec-sobre h2 {
  margin: 10px auto;
}
.content-sec-sobre p {
  font-size: 1rem;
  font-family: Arial;
}
.s-c-s p {
  color: #bbb;
}
.s-c-s-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
.s-c-s-2  img{
  width: 60px;
}
.download-cv {
  text-align: center;
  display: block;
  color: white;
  font-size: 1.8rem;
  font-family: Sans-Serif;
  padding: 10px;
  background-color:#0582CA;
  border-radius: 20px;
  margin: 10px auto;
  max-width: 600px;
  box-sizing: border-box;
}
/* === sec-sobre */


/* === sec-projetos === */

/* === sec-projetos === */