@import "../../../../css/variables";
@import "../../../../css/mixins";

#inicio {
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
    margin-bottom: 16px;

    .div_info {
      * {
        @include bp_mobile {
          text-align: center;
        }
      }

      .div_bem_vindo {
        .bem_vindo {
          display: inline-block;
          margin: 0 auto;
          padding: 4px 8px;
          font-weight: 600;

          justify-content: center;
          width: auto;
          background-color: $cor_principal;
          margin-bottom: 8px;
          font-weight: 600;
          opacity: 0.8;
          color: $cor_fonte_branca;
        }
      }

      .profissoes {
        font-weight: 700;
        margin-bottom: 16px;
        opacity: 0.6;
        text-decoration: underline $cor_principal 3px;
        font-size: 1.8rem;
        color: $cor_fonte_branca;
      }

      .lorem {
        font-weight: 600;
        opacity: 0.6;
        color: $cor_fonte_branca;
        margin-bottom: 16px;
      }
      .botoes {
        display: flex;
        gap: 8px;
        justify-content: left;
        @include bp_mobile{
          justify-content: center;
        }
      }

      .hr_inicio {
        width: 50%;

        height: 1px;
        border-radius: 4px;
        background-color: $cor_fonte_branca;
        opacity: 0.8;
        margin: 16px 0 16px 0;

        @include bp_mobile {
          margin: 16px auto;
          width: 75%;
        }
      }
    }
    .div_img {
      position: relative;
      height: 100%;
      width: 100%;

      .back_card {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;

        height: 95%;
        width: 95%;

        border-radius: 4px;

        background-color: $cor_principal;
      }
      img {
        border-radius: 4px;
        display: block;
        height: 95%;
        width: 95%;
        object-fit: cover;
        z-index: 100;
      }
    }

    //responsividade
    // @include bp_tablet() {

    // }

    @include bp_mobile {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      //   .div_info {
      //   }

      .div_img {
        img {
          width: 100%;
          aspect-ratio: 21/9;
        }

        .back_card {
          z-index: 1;
          width: 100%;
          height: 100%;
          aspect-ratio: 21/9;
          left: 0;
          top: 0;
          background-color: transparent;
          background-image: linear-gradient(transparent, $cor_bg_black);
        }
      }
    }
  }
}

.rolar_para_baixo {
  color: $cor_fonte_branca;
  font-weight: 600;
  opacity: 0.4;
  font-size: 1.4rem;
  display: block;
  text-align: center;
  margin-top: 16px;
  text-decoration: underline;

  .icon {
    font-size: 2rem;
    transform: translateY(3px);
  }
}
