@import "../../css/variables";
@import "../../css/mixins";



.detalhesProjetos {
  // display: none;

  main  {
    
    display: grid;
    grid-template-columns: 3fr 4fr;
    margin-bottom: 32px;
    gap: 16px;
    @include bp_mobile {
      grid-template-columns: 1fr;
    }

    .divSlides {
      border-radius: 33px;
      overflow: hidden;
      aspect-ratio: 4/3;
    }

    .divInfo {
      color: $cor_brancoClaro;
      aspect-ratio: 7/4;
      overflow: auto;
     

      @include bp_mobile {
        aspect-ratio: auto;
      }

      .recursos{
        margin-bottom: 16px;
        display: flex;
        gap: 8px;
        flex-wrap: wrap;

        
        li {
          border: 2px solid $cor_brancoClaro;
          border-radius: 33px;
          padding: 8px 16px;
        }
      }

      .desc {
        margin-bottom: 32px;
      }

      .divBotoes {
        display: flex;
        gap: 16px;

        @include bp_mobile {
          flex-direction: column;
        }
      }
    }
  }
}