.botao {
    /* background: none; */
    text-decoration: inherit;
    font-family: system-ui;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-radius: 20px;
    margin: 0 auto;

    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    border-image: 20px;
}

.botao-container {
    &:hover {
        @apply  scale-[1.05] transition-[200ms] ;
        .botao-content {
            @apply bg-transparent transition-[200ms];
        }
    }
}
