@import "../../css/variables";
@import "../../css/mixins";

#tags {
  display: flex;
  gap: 4px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  align-items: end;
  justify-content: left;

  @include bp_mobile {
    justify-content: center;
  }
 

  input[type="radio"] {
    display: none;

    &:checked ~ label {
      background-color: $cor_fonte_branca;
      color: $cor_fonte_preta;
    }
  }

  label {
    border: 2px solid $cor_fonte_branca;
    color: $cor_fonte_branca;
    border-radius: 4px;
    padding: 4px 8px;
    display: block;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
