@import "../../../css/variables";
@import "../../../css/mixins";

#sec_todos_projetos {
  z-index: 1;
  .container {
    .header_sec {
      z-index: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-bottom: 2px solid $cor_fonte_branca_fraca;
      margin-bottom: 16px;

      @include bp_mobile {
        grid-template-columns: 1fr;
        margin-bottom: 8px;

        h2 {
          text-align: center;
          margin-bottom: 8px;
        }
      }
    }

    .div_projetos {
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(3, 1fr);
        @include bp_mobile {
            grid-template-columns: repeat(2, 1fr);
        }
    }
  }
}
