/* Importações */
@import "../../css/variables";
@import "../../css/mixins.scss";

/* Estilo para header */
#header {
  background-color: $cor_pretoFosco;

  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  position: relative;
  height: 80px;
  z-index: 1000;
  padding: 0 120px;

  @include bp_tablet {
    padding: 10px 80px;
  }

  @include bp_mobile {
    padding: 10px 30px;
  }

  .contentHeader {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // position: relative;
    max-width: $breakpoint_desktop;
    height: auto;

    .logo {
      font-weight: 600;
      color: $cor_brancoClaro;
      font-size: 3.2rem;

      @include bp_mobile {
        font-size: 2.4rem;
      }
    }

    div {
      display: flex;
      align-items: center;
      gap: 64px;
    }

    .navHeader {
      display: flex;
      gap: 32px;
      align-items: center;
      @include bp_tablet {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        background-color: $cor_pretoSecundario;
        z-index: 1;
        height: 100vh;
        width: 100vw;
        padding: 32px;
        justify-content: left;

        &.menuAtivo {
          display: flex;
        }
      }

      .itemNavHeader {
        display: inline-block;
        color: $cor_fonte_branca;
        font-size: 1.6rem;
        font-weight: 400;
        transition: 400ms;
        background-color: $cor_pretoSecundario;
        z-index: 1000;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .divBotoes {
      gap: 16px;
      align-items: center;

      a {
        padding: 16px 24px;
        @include bp_mobile {
          display: none;
        }
      }

      // button {
      //   padding: 16px ;
      //   width: 44px;
      //   aspect-ratio: 1/1;
      //   // background-color: $cor_brancoClaro;
      //   position: relative;
        
      //   .icon {
      //     position: absolute;
      //     left: 50%;
      //     top: 50%;
      //     transform: translate(-50%, -50%);
      //     font-size: 1.6rem;
      //   }
      // }

      button {
        
        background-color: transparent;
        color: $cor_brancoClaro;
        font-size: 4rem;
        display: none;
        align-items: center;
        justify-content: center;
        @include bp_tablet {
          display: flex;
        }
      }
    }
  }
}
