@import "/src/app/styles/variables.scss";
@import "/src/app/styles/mixins.scss";

.secaoContainer {
  padding: 0 120px;

  @include bp_tablet {
    padding: 0px 80px;
  }

  @include bp_mobile {
    padding: 0px 30px;
  }

  
}


.contentSec {
  max-width: $breakpoint_desktop;
  // padding: 60px 0 ;
  margin: 0 auto;
}