header {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    z-index: 200;

    .content {
        display: flex;
    }

    .div-close {
        position: absolute;
        right: 30px;
        top: 50px;
        cursor: pointer;
        /* display: none; */

        /* .icon {
        } */
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #151821;

        &.nav-ativa {
            display: block;
        }

        border-radius: 0;
        padding: 130px 0;

        .content {
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            /* justify-content: center; */
            gap: 40px;

            a {
                font-size: 1.5rem;
                font-weight: 600;
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .div-close {
        display: block;
    }
}
