@import "../../../../css/variables";
@import "../../../../css/mixins";

#secInicio {
  background-color: $cor_pretoFosco;
  padding: 0 120px;

  @include bp_tablet {
    padding: 0px 80px;
  }

  @include bp_mobile {
    padding: 0px 30px;
  }

  .contentSec {
    max-width: $breakpoint_desktop;
    text-align: center;
    padding: 60px 0 ;
    margin: 0 auto;

    @include bp_mobile {
      
    }
    .divImg {
      width: 240px;
      aspect-ratio: 1/1;
      overflow: hidden;
      margin: 0 auto;
      border-radius: 50%;
      margin-bottom: 52px;

      @include bp_mobile {
        width: 180px;
        margin-bottom: 44px;
      }
      img {
        width: 100%;
        aspect-ratio: 1/1;
        margin: 0;
      }
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .subtitulo {
      color: $cor_brancoClaro;
      font-weight: 600;
      margin-bottom: 40px;
      @include bp_mobile {
        margin-bottom: 40px;
      }
    }

    .texto {
      color: $cor_brancoClaro;
      margin-bottom: 50px;
    }

    .divBotoes {
      display: flex;
      gap: 16px;
      justify-content: center;

      @include bp_mobile {
        flex-direction: column;
      }
    }
  }
}
