#div-imagens-page-projeto {
    column-count: 2;

    margin-bottom: 20px;
}

@media (min-width: 639px) {
    #div-imagens-page-projeto {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    #div-imagens-page-projeto {
        column-count: 2;
    }
}

@media (min-width: 1024px) {
    #div-imagens-page-projeto {
        column-count: 3;
    }
}
