@import "../../../../css/variables";
@import "../../../../css/mixins";

#secProjetos {
  padding: 0 120px;
  background-color: $cor_pretoFosco;

  @include bp_tablet {
    padding: 0px 80px;
  }

  @include bp_mobile {
    padding: 0px 30px;
  }

  .contentSecProjetos {
    max-width: $breakpoint_desktop;
    margin: 0 auto;
    padding: 60px 0;
    color: $cor_brancoClaro;

    .headerSec {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      margin-bottom: 16px;
      gap: 16px;

      h2{
        margin-bottom: 8px;
      }

      @include bp_mobile {
        grid-template-columns: 1fr;
        text-align: center;
      }
    }
    .content {
      .divProjetos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
        margin-bottom: 32px;
        @include bp_mobile {
          grid-template-columns: 1fr;
          text-align: center;
        }
      }

      .divBotoes {
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 16px;

        @include bp_mobile {
          flex-direction: column;
        }
        a {
          // display: inline-block;
          @include bp_mobile {
            width: 100%;
          }
        }
      }
    }
  }
}